*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: rgb(231, 230, 230);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.btn{
    padding: 10px 60px;
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.btn:hover{
    background-color: rgb(247, 31, 157);
    color: aliceblue;
}

.popup{
    width: 400px;
    background-color: aliceblue;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.open-popup{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    top: 50%;
}

.popup img{
    width: 100px;
    margin-top: -50px;
    
}

.popup h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgb(247, 31, 157);
    color: aliceblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup button:hover{
    background-color: rgb(252, 204, 220);
    color: black;

}

/***********************sweet success****************************/

.btn1{
    padding: 10px 60px;
    background-color: rgb(115, 205, 127);
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.btn1:hover{
    background-color: rgb(134, 221, 137);
    color: aliceblue;
}

.popup1{
    width: 400px;
    background-color: aliceblue;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.open-popup1{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    top: 50%;
}

.popup1 img{
    width: 100px;
    margin-top: -50px;
    
}


.popup1 h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup1 button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgb(94, 196, 108);
    color: aliceblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup1 button:hover{
    background-color: rgb(134, 221, 137);
    color: black;

}

/***********************sweet danger****************************/

.btn2{
    padding: 10px 60px;
    background-color: rgb(229, 49, 49);
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.btn2:hover{
    background-color: rgb(243, 87, 87);
    color: aliceblue;
}

.popup2{
    width: 400px;
    background-color: aliceblue;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.open-popup2{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    top: 50%;
}

.popup2 img{
    width: 200px;
    margin-top: -80px;
    
}

.popup2 h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup2 button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgb(229, 49, 49);
    color: aliceblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup2 button:hover{
    background-color: rgb(243, 87, 87);
    color: black;

}


/***********************sweet danger****************************/

.btn3{
    padding: 10px 60px;
    background-color: rgb(247, 217, 48);
    border: none;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    border-radius: 30px;
}

.btn3:hover{
    background-color: rgb(254, 229, 88);
    color: aliceblue;
}

.popup3{
    width: 400px;
    background-color: aliceblue;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;

}

.open-popup3{
    visibility: visible;
    transform: translate(-50%,-50%) scale(1);
    top: 50%;
}

.popup3 img{
    width: 200px;
    margin-top: -80px;
    
}

.popup3 h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0 10px;
}

.popup3 button{
    width: 100%;
    margin-top: 50px;
    padding: 10px 0;
    background-color: rgb(247, 217, 48);
    color: aliceblue;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.popup3 button:hover{
    background-color: rgb(254, 229, 88);
    color: black;

}